<div class="card border-secondary mb-3" style="max-width: 60rem;">
<div class="card-header"><%= @post.user[:user_name] %> - posted <%= @post.when(@post.updated_at) %></div>
<div class="card-body">
  <p class="card-text">
    <%= @post.message %><br />
    <%= image_tag @post.image.url(:Large) %>
  </p>
</div>
</div>
<span style="text-align: left;">Ls Cs</span>
<span style="text-align: right;">Like - Comment - Edit - Delete</span>
<hr>
<%= link_to "Back to your Minstas", posts_path %>
<br />
